name: Compliation CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  BUILD_ASSETS_FOLDER: ./.github/build
  BUILD_TYPE: "dev"
  CORE_LOVE_PACKAGE_PATH: ./core.love
  OUTPUT_FOLDER: output
  APP_NAME: "FUCKADORK FUNK"
  ARTIFACT_NAME: "FuckadorkFunk"
  BUNDLE_ID: "com.saxashitter.prg"

jobs:
  get-info:
    runs-on: ubuntu-latest
    outputs:
      app-name: "FUCKADORK FUNK"
    steps:
      - uses: actions/checkout@v4
      - name: Install lua
        run: |
          sudo apt-get install lua5.3 -y
  build-core:
    runs-on: ubuntu-latest
    needs: get-info
    env:
      OUTPUT_FOLDER: ./build
      RELEASE_FOLDER: ./release
    steps:
      - name: Check file directory
        run: |
          ls
      - name: Build core love package
        uses: love-actions/love-actions-core@v1
        with:
          build-list: ./main.lua ./version.lua ./conf.lua ./src ./lib ./assets ./framework
          package-path: ${{ env.CORE_LOVE_PACKAGE_PATH }}
      - name: Upload core love package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-core
          path: ${{ env.CORE_LOVE_PACKAGE_PATH }}

  build-android:
    runs-on: ubuntu-latest
    needs: [get-info, build-core]
    env:
      OUTPUT_FOLDER: ./build
      RELEASE_FOLDER: ./release
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download core love package
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-core
      - name: Build Android packages
        id: build-packages
        uses: love-actions/love-actions-android@v2
        with:
          app-name: ${{ env.APP_NAME }}
          bundle-id: ${{ env.BUNDLE_ID }}
          love-package: ${{ env.ARTIFACT_NAME }}-core
          resource-path: ${{ env.BUILD_ASSETS_FOLDER }}/android/res
          product-name: ${{ env.ARTIFACT_NAME }}
          version-string: "1.0"
          output-folder: ${{ env.OUTPUT_FOLDER }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-android
          path: ${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}-release.apk

  build-linux:
    runs-on: ubuntu-latest
    needs: [get-info, build-core]
    env:
      OUTPUT_FOLDER: ./build
      RELEASE_FOLDER: ./release
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download core love package
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-core
      - name: Build Linux packages
        id: build-packages
        uses: love-actions/love-actions-linux@v2
        with:
          app-name: ${{ env.APP_NAME }}
          bundle-id: ${{ env.BUNDLE_ID }}
          description: alpha
          version-string: "1.0"
          love-package: ${{ env.ARTIFACT_NAME }}-core
          product-name: ${{ env.ARTIFACT_NAME }}
          output-folder: ${{ env.OUTPUT_FOLDER }}
      - name: Upload AppImage artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-linux-appimage
          path: ${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}.AppImage
      - name: Upload Debian artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ needs.get-info.outputs.base-name }}-linux-debian
          path: ${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}.deb

  build-web-compat:
    runs-on: ubuntu-latest
    needs: [get-info, build-core]
    if: github.event_name != 'pull_request'
    env:
      MEMORY_LIMIT: 128000000
      OUTPUT_FOLDER: ./build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download core love package
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-core
      - name: Build web packages
        run: |
          npx love.js ${{ env.ARTIFACT_NAME }}-core ${{ env.OUTPUT_FOLDER }} -t "${{ env.APP_NAME }}" -m ${{ env.MEMORY_LIMIT }} -c
      - name: Move assets
        run: |
          mv ${{ env.BUILD_ASSETS_FOLDER }}/web/* ${{ env.OUTPUT_FOLDER }}
      - name: Initialize Love.js Api Player
        env:
          LOVEJS_API_PLAYER_BASE_URL: https://raw.githubusercontent.com/MrcSnm/Love.js-Api-Player/refs/heads/master
        run: |
          pushd ${{ env.OUTPUT_FOLDER }}
          sed -i 's|</head>|  <script src="consolewrapper.js"></script>\n  </head>|' index.html
          sed -i 's|</head>|  <script src="webdb.js"></script>\n  </head>|' index.html
          sed -i 's|32, 37, 38, 39, 40|37, 38, 39, 40|' index.html
          wget ${{ env.LOVEJS_API_PLAYER_BASE_URL }}/consolewrapper.js
          wget ${{ env.LOVEJS_API_PLAYER_BASE_URL }}/globalizeFS.js
          wget ${{ env.LOVEJS_API_PLAYER_BASE_URL }}/webdb.js
          node globalizeFS.js
          rm globalizeFS.js
          popd
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-web
          path: ${{ env.OUTPUT_FOLDER }}

  build-windows:
    runs-on: windows-latest
    needs: [get-info, build-core]
    env:
      OUTPUT_FOLDER: ./build
      RELEASE_FOLDER: ./release
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download core love package
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-core
      - name: Build Windows packages
        id: build-packages
        uses: love-actions/love-actions-windows@v2
        with:
          love-package: ${{ env.ARTIFACT_NAME }}-core
          product-name: ${{ env.ARTIFACT_NAME }}
          app-id: ${{ secrets.WINDOWS_APP_ID }}
          output-folder: ${{ env.OUTPUT_FOLDER }}
      - name: Upload 32-bit artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-windows-32bit
          path: ${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}_x86.zip
      - name: Upload 64-bit artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}-windows-64bit
          path: ${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}_x64.zip