name: Compliation CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  BUILD_ASSETS_FOLDER: ./.github/build
  BUILD_TYPE: "dev"
  CORE_LOVE_PACKAGE_PATH: ./FuckadorkFunk-core.love
  OUTPUT_FOLDER: output
  APP_NAME: "FUCKADORK FUNK"
  ARTIFACT_NAME: "FuckadorkFunk"
  BUNDLE_ID: "com.saxashitter.prg"

jobs:
  build-core:
    runs-on: ubuntu-latest
    env:
      OUTPUT_FOLDER: ./build
      RELEASE_FOLDER: ./release
    outputs:
      core-catbox: ${{ steps.file-links.outputs.core-catbox }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Build core love package
        uses: love-actions/love-actions-core@v1
        with:
          build-list: ./main.lua ./version.lua ./conf.lua ./src ./lib ./assets ./framework
          package-path: ${{ env.CORE_LOVE_PACKAGE_PATH }}
      - name: Upload to Catbox
        id: file-links
        run: |
          filePath="${{ env.CORE_LOVE_PACKAGE_PATH }}"

          response=$(curl -F "reqtype=fileupload" -F "fileToUpload=@$filePath" https://catbox.moe/user/api.php)
          echo "core-catbox=$response" >> $GITHUB_OUTPUT
          echo "$response"

  build-android:
    runs-on: ubuntu-latest
    needs: build-core
    env:
      OUTPUT_FOLDER: ./build
      RELEASE_FOLDER: ./release
    outputs:
      android-catbox: ${{ steps.file-links.outputs.android-catbox }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download core love package
        run: |
          url=${{ needs.build-core.outputs.core-catbox }}

          # Extract the filename from the URL
          filename=$(basename "$url")

          # Download the file
          curl -L -o "$filename" "$url"

          # Print confirmation
          echo "Downloaded file: $filename"

          mv "$filename" lovefile.love
      - name: Build Android packages
        id: build-packages
        uses: love-actions/love-actions-android@v2
        with:
          app-name: ${{ env.APP_NAME }}
          bundle-id: ${{ env.BUNDLE_ID }}
          love-package: lovefile.love
          resource-path: ${{ env.BUILD_ASSETS_FOLDER }}/android/res
          product-name: ${{ env.ARTIFACT_NAME }}
          version-string: "1.0"
          output-folder: ${{ env.OUTPUT_FOLDER }}
      - name: Upload to Catbox
        id: file-links
        run: |
          filePath="${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}-debug.apk"

          response=$(curl -F "reqtype=fileupload" -F "fileToUpload=@$filePath" https://catbox.moe/user/api.php)
          echo "android-catbox=$response" >> $GITHUB_OUTPUT
          echo "$response"

  build-linux:
    runs-on: ubuntu-latest
    needs: build-core
    env:
      OUTPUT_FOLDER: ./build
      RELEASE_FOLDER: ./release
    outputs:
      appimage-catbox: ${{ steps.build-linux.outputs.appimage-catbox }}
      debian-catbox: ${{ steps.build-linux.outputs.debian-catbox }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download core love package
        run: |
          url=${{ needs.build-core.outputs.core-catbox }}

          # Extract the filename from the URL
          filename=$(basename "$url")

          # Download the file
          curl -L -o "$filename" "$url"

          # Print confirmation
          echo "Downloaded file: $filename"

          mv "$filename" lovefile.love
      - name: Build Linux packages
        id: build-packages
        uses: love-actions/love-actions-linux@v2
        with:
          app-name: ${{ env.APP_NAME }}
          bundle-id: ${{ env.BUNDLE_ID }}
          description: alpha
          version-string: "1.0"
          icon-path: ${{ env.BUILD_ASSETS_FOLDER }}/icon.png
          love-package: lovefile.love
          product-name: ${{ env.ARTIFACT_NAME }}
          output-folder: ${{ env.OUTPUT_FOLDER }}
      - name: Upload to Catbox
        id: file-links
        run: |
          filePath="${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}.AppImage"

          response=$(curl -F "reqtype=fileupload" -F "fileToUpload=@$filePath" https://catbox.moe/user/api.php)
          echo "appimage-catbox=$response" >> $GITHUB_OUTPUT
          echo "$response"

          filePath="${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}.deb"

          response=$(curl -F "reqtype=fileupload" -F "fileToUpload=@$filePath" https://catbox.moe/user/api.php)
          echo "debian-catbox=$response" >> $GITHUB_OUTPUT
          echo "$response"

  build-windows:
    runs-on: windows-latest
    needs: build-core
    env:
      OUTPUT_FOLDER: ./build
      RELEASE_FOLDER: ./release
    outputs:
      old-catbox: ${{ steps.build-windows.outputs.old-catbox }}
      new-catbox: ${{ steps.build-windows.outputs.new-catbox }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download core love package
        shell: cmd
        run: |
          set "URL=${{ needs.build-core.outputs.core-catbox }}"

          for %%i in ("%URL%") do set "FILENAME=%%~nxi"

          echo Downloading from %URL%
          curl -L -o "%FILENAME%" "%URL%"

          echo Downloaded file: %FILENAME%

          move "%FILENAME%" lovefile.love
      - name: Build Windows packages
        id: build-packages
        uses: love-actions/love-actions-windows@v2
        with:
          love-package: lovefile.love
          product-name: ${{ env.ARTIFACT_NAME }}
          app-id: ${{ secrets.WINDOWS_APP_ID }}
          output-folder: ${{ env.OUTPUT_FOLDER }}
      - name: Upload to Catbox
        id: file-links
        run: |
          set "filePath=${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}_x86.zip"

          echo Uploading %filePath%...
          for /f "usebackq delims=" %%i in (`curl -s -F "reqtype=fileupload" -F "fileToUpload=@%filePath%" https://catbox.moe/user/api.php`) do set "response=%%i"
          echo old-catbox=%response% >> %GITHUB_OUTPUT%
          echo %response%

          set "filePath=${{ env.OUTPUT_FOLDER }}/${{ env.ARTIFACT_NAME }}_x64.zip"

          echo Uploading %filePath%...
          for /f "usebackq delims=" %%i in (`curl -s -F "reqtype=fileupload" -F "fileToUpload=@%filePath%" https://catbox.moe/user/api.php`) do set "response=%%i"
          echo old-catbox=%response% >> %GITHUB_OUTPUT%
          echo %response%